@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
}
header h1 {
  font-family: Advent Pro;
  font-size: 2rem;
}

.icon {
  font-size: 25px;
}

h1 {
  font-family: serif;
  font-size: 1.5rem;
}

p {
  font-size: 16px;
  font-family: sans;
  line-height: 1.5rem;
}
