@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
header h1 {
  font-family: "Advent Pro";
  font-size: 2rem;
}
title{
  font-family: "palatino";
  margin-bottom: 10px;

}

menu li:hover{
  border-bottom: 2px solid brand-primary;
}

.button--secondary-dark:hover {
  background-color: #444;
  @apply text-brand-primary;
}

.button-primary :hover{
  @apply bg-brand-dark;
}

h1,
h2,
h3,
h4 {
  @apply font-serif;
}

h4 {
  @apply font-bold;
}

h3 {
  @apply text-lg;
}
h2 {
  @apply text-xl;
}
h1 {
  @apply text-4xl;
}

p {
  line-height: 1.5rem;
  @apply max-w-[700px];
}



.button--primary {
  @apply bg-brand-primary text-black px-5 py-3 rounded-lg;
}

.button--primary-dark {
  @apply bg-brand-primary text-white px-5 py-3 rounded-lg;
}
.button--secondary-dark {
  @apply bg-black text-white px-10 py-3 rounded-2xl;
}
.button--tertiary{
  @apply border-l-[2px] bg-brand-primary text-black px-5 py-3 rounded-lg;

}

.button--secondary {
  @apply border-black border-2 inline-flex items-center py-2 px-4 text-sm font-medium rounded-lg  hover:border-brand-medgray;
}
img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive{
  width:32px;
  height:32px;
}

.rich-text p{
  margin-bottom:10px;
}
